@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

@import '../node_modules/normalize.css/normalize.css';
@import '../node_modules/milligram/dist/milligram.css';


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.task-content {
  border: 1px solid;
  border-radius: 1rem;
  margin: 1rem;
  padding: 0.5rem 128px;
}

@media only screen and (max-width: 576px) {
  .task-content {
    padding: 0.5rem 5rem;
  }
}

.flex-row {
  display: flex;
  align-items: baseline;
}

.flex-row h4 {
  padding: 1rem;
}

.down-button {
  padding: 0.5rem;
}
