name: Deploy Actions
on:
  push:
    branches:
      - deploy
jobs:
  unit-tests:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.3.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v2.3.0
        with:
          cmd: test
  build:
    needs: unit-tests
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - uses: borales/actions-yarn@v2.3.0
        with:
          cmd: install
      - uses: borales/actions-yarn@v2.3.0
        with:
          cmd: dist
      - uses: actions/upload-artifact@v2
        with:
          name: _site
          path: dist/
  deploy:
    needs: build
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/download-artifact@v2
        with:
          name: _site
          path: ./www
      - run: chmod -R 755 www
      - uses: Burnett01/rsync-deployments@4.1
        with:
          switches: -avzr --delete
          path: www/
          remote_path: /srv/www/
          remote_host: howgood.me
          remote_user: www
          remote_key: ${{ secrets.DEPLOY_KEY }}
          rsh: restorecon -Rv /srv/www
